/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hidden {
 	display: none;
}

body {
 	margin: 0 auto;
 	width: 600px;
 	text-align: center;
 	perspective: 1000px;
}

.game-container{
	margin-top: 1em;
	margin-bottom: 1em;
	border-width:5px;	
  border-style:groove;
	transform: rotateX(-30deg);
	background-color: #DC8686;
	border-radius: 1em;
}

h1, h3 {
	font-family: Impact;
	
}

a {
	color: #7B0000;
	text-decoration: none;
}